/* SCROLL BAR DESIGN */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 2px solid transparent;
}
/* END */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}
p,
a {
  margin: 0px !important;
}

nav {
  position: fixed !important;
  background-color: white;
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
section {
  padding: 20px;
}
h2 {
    margin-top: 40px!important;
}
.full {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), 
  url(/frontend/images/fond.jpg);
  background-size: cover;  
  height: 100vh;
  display: flex;
}
.full div {
  color: #6c757d;
  margin: auto;
  width: fit-content;
  font-size: x-large;
}
.products__list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.product {
  height: fit-content;
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  border-radius: 7px;
  transition-duration: 0.3s;
  text-align: center;
}
.product:hover {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.25);
}
.product__header {
  height: 50%;
  width: 100%;
}
.product img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
.product__body {
  padding: 20px 10px 40px 10px;
}
.product__title {
  font-size: large;
  margin: 10px 0px 4px 0px !important;
  color: grey;
}
.product__description {
  height: 77px;
  overflow-y: auto;
  text-overflow: ellipsis;
}
.product__price {
    background-color:rgb(120, 120, 120, 0.2);
    width: fit-content;
    margin: 10px auto !important;
    padding:0px 20px;
    text-align: center;
    border-radius:7px;
    font-size: large;
    box-shadow: 0px 2px 4px 0px rgba(53, 53, 53, 0.25);
}
.product__price::before {
    content: "€ ";
    font-size: x-large;
}
.product__link {
    margin-top: 10px !important;
    display: block;
}
/* SCROLL BAR DESIGN */
.product__description::-webkit-scrollbar {
  width: 7px;
}
.product__description::-webkit-scrollbar-track {
  background: transparent;
}
.product__description::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 2px solid white;
}
/* END */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* == RESPONSIVE == */
@media (min-width: 640px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}
@media (min-width: 900px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}