@charset "UTF-8";
/* ------- UTILS ------- */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colored-spacing {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: normal;
  }
}
/* ------- BASE ------- */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.site__width {
  position: relative;
  margin: auto;
  max-width: 1600px;
}

p,
a {
  margin: 0px !important;
}

section {
  padding: 20px;
}

h2 {
  margin-top: 40px !important;
}

/* ------- COMPONENTS ------ */
.loader {
  display: flex;
  width: fit-content;
  margin: 40px auto;
}

.loaderCircles {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 30px;
  border: 4px solid transparent;
}

.loaderCircles::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border-radius: 30px;
  border: 4px solid transparent;
  border-top: 4px solid black;
  animation: spin 1.5s ease-in-out infinite;
}

.loaderText {
  display: inline-block;
  margin-left: 20px !important;
  font-size: x-large;
  color: black;
  animation: colored-spacing 1.5s ease-in-out infinite;
}

/* DU BODY */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 2px solid transparent;
}

/* DANS L'ELEMENT CARD */
.product__description::-webkit-scrollbar {
  width: 7px;
}

.product__description::-webkit-scrollbar-track {
  background: transparent;
}

.product__description::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  border: 2px solid white;
}

/* ------- LAYOUT ------- */
footer {
  background-color: #6c757d;
  color: white;
  font-size: small;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: white;
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  width: 100%;
}

.nav__fixed {
  position: fixed !important;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.cart {
  display: none;
}
.cart--active {
  display: inline !important;
  position: relative;
  top: -5px;
  right: -5px;
  color: #008766;
  font-size: smaller;
}

/* ------- PAGES ------- */
.full {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(/frontend/images/fond.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
}

.full div {
  color: #6c757d;
  margin: auto;
  width: fit-content;
  font-size: x-large;
}

.products__list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.product {
  height: fit-content;
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  transition-duration: 0.4s;
  border-radius: 7px;
  text-align: center;
}

.product:hover {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.25);
}

.product__header {
  width: auto;
}

.product img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.product__body {
  padding: 20px 10px 40px 10px;
}

.product__title {
  font-size: large;
  margin: 10px 0px 4px 0px !important;
  color: #6c757d;
}

.product__description {
  max-height: 77px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.product__price {
  background-color: rgba(120, 120, 120, 0.2);
  width: fit-content;
  margin: 10px auto !important;
  padding: 0px 20px;
  text-align: center;
  border-radius: 7px;
  font-size: large;
  box-shadow: 0px 2px 4px 0px rgba(53, 53, 53, 0.25);
}

.product__price::before {
  content: "€ ";
  font-size: x-large;
}

.product__link {
  margin-top: 10px !important;
  display: block;
}

/* == RESPONSIVE == */
@media (min-width: 640px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}
@media (min-width: 900px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
}
.product__page {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.product__page img {
  max-width: 400px;
}

.product__infos {
  margin: 20px;
}
.product__infos select {
  border: none;
  background: transparent;
  color: #6c757d;
}
.product__infos div {
  display: flex;
  width: fit-content;
  margin: auto 0px;
  height: 60px;
  vertical-align: middle;
}
.product__infos div * {
  display: inline-block;
  margin: auto !important;
}
.product__infos div p {
  color: #008766;
  width: fit-content;
  text-align: center;
  font-size: large;
}
.product__infos div p::before {
  content: "€ ";
  font-size: x-large;
}
.product__infos div button {
  border: none;
  height: 30px;
  padding: 0px 20px;
  background-color: rgba(120, 120, 120, 0.2);
  width: fit-content;
  margin-left: 20px !important;
  border-radius: 7px;
  font-size: large;
  box-shadow: 0px 2px 4px 0px rgba(53, 53, 53, 0.25);
  transition: 0.5s;
}
.product__infos div button:hover {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  transition-duration: 0.4s;
}
.product__infos div .quantityByProduct {
  height: 30px;
  padding: 0px 20px;
  width: fit-content;
  font-size: large;
}

/* == RESPONSIVE == */
@media (min-width: 400px) {
  .product__page {
    box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
    transition-duration: 0.4s;
    border-radius: 7px;
    margin: 40px auto;
  }
  .product__page img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}
.cart__page {
  min-height: 90vh;
  margin: 20px;
}

.empty {
  margin: 70px auto !important;
  font-size: larger;
  text-align: center;
}

.cart__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 60px auto;
}
.cart__list a {
  text-decoration: none;
  color: black;
}
.cart__list a:hover {
  color: grey;
}

.cart__product {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  transition-duration: 0.4s;
  border-radius: 7px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.cart__product:hover {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.25);
}
.cart__product img {
  height: 40px;
}
.cart__product .cart__productPrice::after {
  content: " €";
}
.cart__product :nth-child(4) {
  font-weight: bold;
}
.cart__product :nth-child(4) .total {
  font-weight: 400;
  color: #008766;
}
.cart__product :nth-child(4) .total::after {
  content: " €";
}

hr {
  width: 50%;
  margin: auto auto 40px auto !important;
}

.orderTotal {
  color: #008766;
  font-weight: bold;
}
.orderTotal::after {
  content: " €";
}

.cart__order {
  margin: 40px auto;
  text-align: center;
}
.cart__order form {
  margin: 40px auto !important;
}

/* == RESPONSIVE == */
@media (min-width: 400px) {
  .cart__list {
    max-width: 700px;
  }

  .cart__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }

  form {
    width: 70%;
  }
  form .fields-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
  form .fields-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
