nav {
  background-color: white;
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
  width: 100%;
}
.nav__fixed {
  position: fixed !important;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.cart {
  display: none;
  &--active {
    display: inline !important;
    position: relative;
    top: -5px;
    right: -5px;
    color: $tertiary;
    font-size: smaller;
  }
}
