@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colored-spacing {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 1px;
  }
  100% {
    letter-spacing: normal;
  }
}