@mixin shadow {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.1);
}
@mixin shadow-strong {
  box-shadow: 0px 4px 10px 1px rgba(53, 53, 53, 0.25);
}
@mixin shadow-button {
  box-shadow: 0px 2px 4px 0px rgba(53, 53, 53, 0.25);
}