.cart__page {
  min-height: 90vh;
  margin: 20px;
}

.empty {
  margin: 70px auto !important;
  font-size: larger;
  text-align: center;
}

.cart__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 60px auto;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: grey;
    }
  }
}

.cart__product {
  @include shadow;
  border-radius: 7px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    @include shadow-strong;
  }
  img {
    height: 40px;
  }
  .cart__productPrice::after {
    content: " €";
  }
  :nth-child(4) {
    font-weight: bold;
    .total {
      font-weight: 400;
      color: $tertiary;
      &::after {
        content: " €";
      }
    }
  }
}

hr {
  width: 50%;
  margin: auto auto 40px auto !important;
}

.orderTotal {
  color: $tertiary;
  font-weight: bold;
  &::after {
    content: " €";
  }
}

.cart__order {
  margin: 40px auto;
  text-align: center;
  form {
    margin: 40px auto !important;
  }
}

/* == RESPONSIVE == */
@media (min-width: 400px) {
  .cart__list {
    max-width: 700px;
  }

  .cart__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }

  form {
    width: 70%;
    .fields-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
    }
    .fields-bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
  }
}
