.product__page {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  img {
    max-width: 400px;
  }
}
.product__infos {
  margin: 20px;
  select {
    border: none;
    color: $secondary;
  }
  div {
    display: flex;
    width: fit-content;
    margin: auto 0px;
    height: 60px;
    vertical-align: middle;
    * {
      display: inline-block;
      margin: auto !important;
    }
    p {
      color: $tertiary;
      width: fit-content;
      text-align: center;
      font-size: large;
      &::before {
        content: "€ ";
        font-size: x-large;
      }
    }
    button {
      border: none;
      height: 30px;
      padding: 0px 20px;
      background-color: rgb(120, 120, 120, 0.2);
      width: fit-content;
      margin-left: 20px !important;
      border-radius: 7px;
      font-size: large;
      @include shadow-button;
      transition: 0.5s;
      &:hover {
        @include shadow;
      }
    }
  }
}

/* == RESPONSIVE == */
@media (min-width: 400px) {
  .product__page {
    @include shadow;
    border-radius: 7px;
    margin: 40px auto;
    img {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
  }
}