.loader {
  display: flex;
  width: fit-content;
  margin: 40px auto;
}
.loaderCircles {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 30px;
  border: 4px solid transparent;
}
.loaderCircles::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  bottom: -4px;
  right: -4px;
  border-radius: 30px;
  border: 4px solid transparent;
  border-top: 4px solid black;
  animation: spin 1.5s ease-in-out infinite;
}
.loaderText {
  display: inline-block;
  margin-left: 20px !important;
  font-size: x-large;
  color: black;
  animation: colored-spacing 1.5s ease-in-out infinite;
}